config easy 'easy'
	option enabled '0'
	option mode 'bypass'
	option node ''

config server 'easy_remote'
	option disabled '1'

config ss_redir 'easy_redir'
	option disabled '1'
	option local_address '0.0.0.0'
	option local_port '1234'
	option mode 'tcp_and_udp'
	option timeout '60'

config ss_tunnel 'easy_dns'
	option disabled '1'
	option local_address '127.0.0.1'
	option local_port '8053'
	option tunnel_address '8.8.8.8:53'
	option mode 'tcp_and_udp'
	option timeout '60'

config ss_rules 'ss_rules'
	option disabled '1'
	option redir_tcp 'easy_redir'
	option redir_udp 'easy_redir'
	option ifnames 'br-lan'
	option src_default 'forward'
	option dst_default 'forward'
	option local_default 'forward'
